@model Modelo.Cadastros.Curso

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_IESLayout.cshtml";
}

<div class="card">
    <div class="card-header text-white bg-primary text-center h1">Alterar Curso</div>
    <div class="card-body">
        <form asp-action="Edit">
            <input type="hidden" asp-for="CursoID" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartamentoID" class="control-label"></label>
                <select asp-for="DepartamentoID" class="form-control" asp-items="@ViewBag.Departamentos"></select>
            </div>
            <div class="form-group text-center h3">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-primary">Cancelar</a>
            </div>
        </form>
    </div>
    <div class="card-footer bg-secondary text-center text-white">

    </div>
</div>

@section ScriptPage {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
