@model Capitulo01.Models.Departamento

@{
    Layout = "/views/shared/_IESLayout.cshtml";
}

@section styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    </environment>
}

<div class="card">
    <div class="card-header text-white bg-primary text-center h1">Departamento</div>
    <div class="card-body">
        <div class="form-group">
            <label asp-for="DepartamentoID" class="control-label"></label>
            <br />
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-key" aria-hidden="true"></i>
                    </span>
                </div>
                <input asp-for="DepartamentoID" class="form-control" disabled="disabled" />
            </div>
            <label asp-for="Nome" class="control-label"></label>
            <br />
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                    </span>
                </div>
                <input asp-for="Nome" class="form-control" disabled="disabled" />
            </div>
            <label asp-for="Instituicao.Nome" class="control-label"></label>
            <br />
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-building" aria-hidden="true"></i>
                    </span>
                </div>
                <input asp-for="Instituicao.Nome" class="form-control" disabled="disabled" />
            </div>
        </div>
        <form asp-action="Delete" class="text-center">
            <input type="hidden" asp-for="DepartamentoID" />
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmacao">Excluir</button>
            <a asp-action="Index" class="btn btn-primary">Cancelar</a>
        </form>
    </div>
    <div class="card-footer bg-secondary text-center text-white">

    </div>
</div>

<div class="modal fade" id="confirmacao" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModal">Confirmação de exclusão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Confirma a exclusão do departamento @Model.Nome.ToUpper()??</p>
            </div>
            <div class="modal-footer">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="DepartamentoID" />
                    <input type="submit" value="Sim" class="btn btn-danger" />
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Não</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section ScriptPage {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
